
<div class="container-fluid no-padding">

    <div class="row">
        <div class="col-xs-1">
            <img class="img-fluid logo-size" [src]="logoPath" alt="writing on paper" >
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-lg-6">
            <img class="img-fluid" [src]="fullImagePath" alt="writing on paper" >
        </div>
    
        <div class="col-lg-6 vertical-center" style="background-color:rgb(202, 78, 97);">
          <div>  
          <h1 id="mainHeader">Your product deserves a great user experience.</h1>
          <p class="white">Snappymob develops awesome mobile and web experience for our clients and their customers.</p>

          <button type="button">See what we do</button>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 horizontal-info">
            <h2>Design, development, and strategy.</h2>
            <p>We provide broad range of services to help our clients succeed in every aspect of their product.</p>
        </div>
    </div>

    <div class="row">
        
    
        <div class="col-lg-3 vertical-info">
          <div>  
          <h6 class="verticalTitle">Product design</h6>
          <p>Our passion for UI/UX shows itself in every product we work on. Our design team obsesses over all the little details.</p>

          <ul>
              <li>Design Sprints</li>
              <li>Design Prototypes</li>
              <li>UI/ UX Research and Analysis</li>
              <li>UI/ UX Design</li>
            </ul>

          </div>
        </div>

        <div class="col-lg-3 vertical-info">
          <div>  
          <h6 class="verticalTitle">Mobile and TV Development</h6>
          <p>Great apps need a great engineering. Our experienced software developers delivers quality engineering in all our work.</p>

          <ul>
              <li>iOS Development</li>
              <li>tvOS Development</li>
              <li>Android Development</li>
              <li>IoT and BLE Development</li>
              <li>App Revamp and Maintenance</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 vertical-info">
          <div>  
          <h6 class="verticalTitle">Web Development</h6>
          <p>The cloud backs mosts great products. We do it all – from great looking websites to sophisticated backend services.</p>

          <ul>
              <li>Web Front End Development</li>
              <li>Backend Development</li>
              <li>Cloud Based System Development</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 vertical-info">
          <div>  
          <h6 class="verticalTitle">Strategy</h6>
          <p>Building a product is only half the problem. How do you gain traction and grow your market? We’ll be your guide with our extensive knowledge and experience.</p>
          <ul>
              <li>MVP Proposals</li>
              <li>Product Roadmap Proposals</li>
              <li>Product Growth &amp; Marketing Strategy</li>
            </ul>
          </div>
        </div>
    </div>
</div>

