
<div class="container-fluid no-padding" style="overflow:hidden;">

    <!-- <div class="row">

        <div class="col-lg-2">
          <img class="img-fluid logo-size" [src]="logoPath" alt="Snappymob logo" >
        </div>
        <div class="col-lg-10" style="margin:auto;">
            <ul class="top-nav-bar">             
                <li><a href="#home">Careers</a></li>
                <li><a href="#news">Contact Us</a></li>
                <li><a href="#contact">Case Studies</a></li>
                <li><a href="#about">Services</a></li>
              </ul>
        </div>
    </div> -->

    <div class="row no-gutters">
        <div class="col-lg-6">
            <img class="img-fluid" [src]="userExpImg" alt="User Experince Design" >
        </div>
    
        <div class="col-lg-6 vertical-center" style="background-color:rgb(202, 78, 97);">
          <div>  
          <h1 id="mainHeader" class="white">Your product deserves a great user experience.</h1>
          <p class="white first">Snappymob develops awesome mobile and web experience for our clients and their customers.</p>

          <a routerLink="/ourServices" class="whatWeDo red">See what we do</a>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 horizontal-info">
            <h2>Design, development, and strategy.</h2>
            <p>We provide broad range of services to help our clients succeed in every aspect of their product.</p>
        </div>
    </div>

    <div class="row">
        
    
        <div class="col-lg-3 vertical-info">
          <div>  
          <h6 class="red">Product design</h6>
          <p>Our passion for UI/UX shows itself in every product we work on. Our design team obsesses over all the little details.</p>

          <ul class="vertical-data">
              <li>Design Sprints</li>
              <li>Design Prototypes</li>
              <li>UI/ UX Research and Analysis</li>
              <li>UI/ UX Design</li>
            </ul>

          </div>
        </div>

        <div class="col-lg-3 vertical-info">
          <div>  
          <h6 class="verticalTitle">Mobile and TV Development</h6>
          <p>Great apps need a great engineering. Our experienced software developers delivers quality engineering in all our work.</p>

          <ul class="vertical-data">
              <li>iOS Development</li>
              <li>tvOS Development</li>
              <li>Android Development</li>
              <li>IoT and BLE Development</li>
              <li>App Revamp and Maintenance</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 vertical-info">
          <div>  
          <h6 class="verticalTitle">Web Development</h6>
          <p>The cloud backs mosts great products. We do it all – from great looking websites to sophisticated backend services.</p>

          <ul class="vertical-data">
              <li>Web Front End Development</li>
              <li>Backend Development</li>
              <li>Cloud Based System Development</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 vertical-info">
          <div>  
          <h6 class="verticalTitle">Strategy</h6>
          <p>Building a product is only half the problem. How do you gain traction and grow your market? We’ll be your guide with our extensive knowledge and experience.</p>
          <ul class="vertical-data">
              <li>MVP Proposals</li>
              <li>Product Roadmap Proposals</li>
              <li>Product Growth &amp; Marketing Strategy</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="row" style="margin-left:auto;">
        <div class="col-lg-12 text-center">
            <button class="white allOurServices" type="button">See all our services</button>
          </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive"[src]="bfmCarPlayPath" alt="BFM Car Play" >
          </div>
    </div>
    


</div>

