#mainHeader {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2em;
    padding-bottom: 10px;
}

.color-white {
    color: white;
}

.color-main-red {
    color: rgb(181, 59, 84);
}

p.first {
    padding-bottom: 20px;
}

p.black {
    padding-left:5%;
}

button.swwd {
    background-color: white;   
    border: none;
    padding: 0px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 18px;
}

button.saos {
    background-color: rgb(202, 78, 97);
    border: none;
    padding: 10px 28px;
    margin-top:50px;
    margin-bottom: 50px;
    margin-left:auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 18px;
}

.vertical-center {
    display: flex;
    align-items: center;
    padding: 40px;
  }

.horizontal-info {
    padding-left: 95px;
    padding-top: 60px;
    padding-right: 95px;
  }

.vertical-info {
    display: flex;
    padding-left: 95px;
    padding-top: 60px;
    padding-right: 95px;
  }

.img-responsive { 
    width:100%;
    height: auto;
}

.no-padding {
    padding-left: 0;
    padding-right: 0px;
  }

  .logo-size {
    padding-left: 25px;
    padding-bottom: 15px;
      padding-top: 15px;
      max-width: 65%;
  }

ul.vertical-data {
    padding-left:15px;
}

ul.top-nav-bar  {
    list-style-type: none;
    margin: 0;
    padding-right: 25px;
    overflow: hidden;
}

.top-nav-bar li {
    font-size: 0.9em;
    float: right;
}

.top-nav-bar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav-bar a:hover {
    color: grey;
}