.logo-size {
    padding-left: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 165px;
  }

  .no-padding {
    padding-left: 0;
    padding-right: 0px;
  }


  ul.top-nav-bar  {
    list-style-type: none;
    margin: 0;
    padding-right: 25px;
    overflow: hidden;
}

.top-nav-bar li {
    font-size: 0.9em;
    float: right;
}

.top-nav-bar a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-nav-bar a:hover {
    color: grey;
}