<div class="container-fluid no-padding" style="overflow:hidden;">
  <div class="row no-gutters">

      
      <div class="col-lg-6 order-md-1 order-lg-2">
        <div>
          <img class="img-fluid" [src]="ourServicesImg" alt="code services" >
        </div>
      </div>

      <div id="grad" class="col-lg-6 order-md-2 order-lg-1 vertical-center">
          <div>  
          <h1 id="mainHeader" class="white">Services for every aspect of your product.</h1>
          <p class="white first">Our expertise spans UI/UX design, development, product strategy, and training.</p>

          <a routerLink="/ourServices" class="whatYouNeed white">Tell us what you need</a>
          </div>
        </div>


        
        

  </div>
</div>